/* Main css file. Using css grid*/

:root {
    --main_bg_color: #3f6cff;
    --box_bg_color: #99b0fb;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: .5%;
  background-color: var(--main_bg_color);
  padding: .5%;
}

.grid-container > div {
  background-color: var(--box_bg_color);
  text-align: center;
  padding: 5%;
  font-size: 30px;
}
