/* Main css file. Using css grid*/

:root {
    --main_bg_color: #97a1c1;
    --box_bg_color: #99b0fb;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .5%;
  background-color: var(--main_bg_color);
  padding: .5%;
  margin: auto;
}

.grid-item{
  text-align: center;
  padding: 5%;
  size: 200px;
}

.yes {
  display: block;
  width: 30%;
  border: none;
  background-color: #04AA6D;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.no {
  display: block;
  width: 30%;
  border: none;
  background-color: #bc0e0b;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.yes:hover {
  background-color: #3da881;
  color: black;
}

.no:hover {
  background-color: #bb413f;
  color: black;
}

.prevNext {
  display: block;
  width: 50%;
  border: none;
  bottom: 0px;
  background-color: #6e7170;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.prevNext:hover {
  background-color: #ddd;
  color: black;
}